INFLUX_URL=fake
INFLUX_BUCKET=local_bucket
INFLUX_ORG=local_org
INFLUX_TOKEN=local_token
INFLUX_RETRY_CONNECT=10
INFLUX_RETRY_DELAY=5

ABUSEIP_KEY=########################################################

PROXY_LOGS=TRUE
REDIRECT_LOGS=TRUE
MONITORING_LOGS=TRUE
INTERNAL_LOGS=TRUE
PUBLIC_LOGS=TRUE
MONITORING_FILE_PATH={workdir}/tests/data/monitoring.txt

GEO_ASN_DB_PATH={workdir}/tests/data/GeoLite2-ASN.mmdb
GEO_CITY_DB_PATH={workdir}/tests/data/GeoLite2-City.mmdb

DEBUG=false
DEBUG_SERVER_INFLUX_FAKE=true

NPM_LOGS_PATH={workdir}/tests/npm/logs

NPM_LOG_FAKE_CLIENTS=true
NPM_LOG_FAKE_CLIENTS_DEBUG=false
NPM_LOG_FAKE_CLIENTS_FILE={workdir}/tests/npm/logs/proxy-host-999_access.log