TEST_INFLUX_URL=http://influxdb:8086
TEST_INFLUX_BUCKET=npmgrafstats
TEST_INFLUX_ORG=npmgrafstats
TEST_INFLUX_TOKEN=########################################
TEST_INFLUX_REQUIRED=0

TEST_ABUSEIP_KEY=########################################################

TEST_PROXY_LOGS=TRUE
TEST_REDIRECT_LOGS=TRUE
TEST_MONITORING_LOGS=TRUE
TEST_INTERNAL_LOGS=FALSE
TEST_PUBLIC_LOGS=TRUE
TEST_MONITORING_FILE_PATH=/fake/monitoring.txt